.link1{
	text-decoration: none;
	background-color: #ff5345;
	color: #FFF;
	border-radius:20px;
	border: 5px;
	font-size: 34px;
}
.link1:hover , .link1:active{
	background-color: #ff5345;
	color: #ae342a;
	border-radius:20px;
	border: 5px;
	font-size: 34px;
}
.link2{
	text-decoration: none;
	color: #FFF;
	background-color: #ff7e16;
	border-radius:20px;
	border: 5px;
	font-size: 34px;
}
.link2:hover , .link2:active{
	background-color: #ff7e16;
	color: #b04a11;
	border-radius:20px;
	border: 5px;
	font-size: 34px;
}
.link3{
	text-decoration: none;
	color: #FFF;
	background-color: #ffca26;
	border-radius:20px;
	border: 5px;
	font-size: 34px;
}
.link3:hover , .link3:active{
	background-color: #ffca26;
	color: #9c790f;
	border-radius:20px;
	border: 5px;
	font-size: 34px;
}
.pic {
	float: left;
	margin-left:15%;
	margin-top:10%;
}
.NameId>p {
	float: left;
	margin-top:35%;
	margin-left: -25%;
	color: #FFF;
	font-size: 20px;
}
.cycle1{
	float: left;
	margin-top:-25%;
	margin-left: 40%;
}
.cycle2{
	float: left;
	margin-top:-30%;
	margin-left: 45%;
}
.cycle3{
	float: left;
	margin-top:-35%;
	margin-left: 53%;
	z-index: 1;
}
.incycle{
	float: left;
	margin-top:-36%;
	margin-left: 58%;
	z-index: 2;
	font-size: 34px;
	color: #FFF;

}
.print{
	background: url(I4_icon.png);
	float: left;
	margin-top:-10%;
	margin-left: 85%;
}