body {
	background-image: url("backgound.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Open Sans Condensed";
}
