
.selectbar{
	margin-top:20px;
	margin-left: 30%;
}

.table1{
	margin-top:50px;
	margin-left: 4%;
}

.table2{
	margin-top:50px;
	margin-left: 4%;
}

.table3{
	margin-top:50px;
	margin-left: -7%;
}
.Academic2{
	height:35px;
	width: 19%;
	margin-top: 0%;
	margin-left: 5%;
	background-color:#000014;
	font-size: 25px;
	color: #FFF;
	padding-left: 15px;
	padding-top: 12px;
}

.term{
	margin-top: 0%;
	margin-left: 4%;
	color: #FFF;
	font-size: 25px;
}
