.text1{
	font-size: 20px; 
	color:#FFF; 

}
.text2{
	font-size: 40px; 
	color:#FFF;
	margin : 10% 0% ;

}
.text3{
	font-size: 10px;
	margin : 2% 0% ;

}
.text4{
	font-size: 10px;
	margin : -3.5% 10% ;
	
}
.in2 {
	font-family: "Open Sans Condensed";
	padding-left: 5px;
	border-radius:20px;
	border: 5px;
	height: 30px;
	width: 100px;
	background-color: #e8e8e8;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
}

.in2:hover , .in2:active{
	background-color: #c1c1c1;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
}