<!DOCTYPE html>
<html>
	<head>
		<title>ROV</title>
		<script type="text/javascript">
			var xmlHttp;
			function createXMLHttpRequest(){
				if (window.ActiveXObject){
					xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");

				}
				else if (window.createXMLHttpRequest){
					xmlHttp = new XMLHttpRequest();
				}


			}
			function startRequest(){

			createXMLHttpRequest();
				xmlHttp.onreadystatechange = handleStateChange;
				xmlHttp.Open("GET","response.py",true);
				xmlHttp.send(null);
			}
			function handleStateChange(){
				if(xmlHttp.readyState==4){

					if(xmlHttp.status==200){

						alert("reactive form Server:"+ xmlHttp.responseText);
					}
				}

			}
		</script>
	</head>
	<body>
		<form action="#" >
			<input type = "button" value = "LOGIN" onclick="startRequest();" />
		</form>

	</body>
</html>
